html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
}

#content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 75px min(100vh - 75px);
}

.title {
	border: solid black 1px;
  grid-column: 1 / 3;
}

.project-container {
	border: solid black 1px;
}

.todo-list {
	border: solid black 1px;
}