:root {
  font-family: 'lato';
  color: rgb(32,32,32);
  --eggshell: rgb(240, 234, 214);
  --applegreen: #8db600;
  --grey: rgb(230, 230, 230);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.title img {
  width: 6rem;
  height: 6rem;
}

#content {
  display: grid;
  grid-template-columns: minmax(250px, 1fr) 4fr;
  grid-template-rows: 100px min(100vh - 100px);
}

.title {
  font-size: 4rem;
  font-weight: 600;
  padding-top: 15px;
  text-align: center;
  grid-column: 1 / 3;
  background-color: var(--eggshell);
  border-bottom: 5px solid var(--applegreen);
}

.project-container {
  border-right: 5px solid var(--applegreen);
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  font-size: 1.33rem;
  overflow-y: auto;
}

.project-container img {
  width: 1.2rem;
  height: 1.2rem;
}

.project-container img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.2s;
}

.project-container div {
  padding: 5px 8px;
  margin: 10px 0;
  background-color: whitesmoke;
  border-radius: 7.5px;
  border: 2px solid whitesmoke;
}

.project-container > div:hover,
.project-list > div:hover {
  border: 2px solid var(--applegreen);
  transition: 0.3s;
  cursor: pointer;
}

div .project-title {
  display: flex;
  background-color: var(--grey);
  border: 2px solid var(--grey);
  border-bottom: 2px solid rgb(32, 32,32);
  border-radius: 0;
}

div .project-title:hover {
  border: 2px solid var(--grey);
  border-bottom: 2px solid rgb(32, 32,32);
}

.project-title div {
  display: flex;
  background-color: var(--grey);
  border: 2px solid var(--grey);
}

div .project-list {
  background-color: var(--grey);
  border: 0;
}

div .project-list:hover {
  border: 0;
}

.project-list div {
  padding: 5px 8px;
  margin: 10px 0;
  background-color: whitesmoke;
  border-radius: 7.5px;
  border: 2px solid whitesmoke;
}

.project-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-div div {
  overflow: hidden;
}

.todo-content {
  background-color: var(--eggshell);
  overflow-y: auto;
}

.todo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 3px solid var(--applegreen);
  border-radius: 15px;
  padding: 5px 10px;
  background-color: var(--grey);
}

.todo-container:hover {
  background-color: whitesmoke;
  transition: 0.3s;
}

.todo-container img {
  width: 1.5rem;
  height: 1.5rem;
}

.left-todo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.todo-information > div:first-child {
  font-size: 1.5rem;
}

.todo-information > div:last-child {
  font-size: 0.8rem;
}

.right-todo {
  display: flex;
  align-items: center;
  gap: 5px;
}

.right-todo > div:first-child {
  white-space: nowrap;
  overflow: hidden;
}

.todo-title {
  overflow: hidden;
}

.todo-title-container {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  justify-content: center;
  gap: 15px;
}

.add-todo:hover, .todo-container img:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: 0.2s;
}

.todo-list-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(1, minmax(100px, 1000px));
  gap: 15px;
  padding: 0 30px;
}

.todo-information {
  display: flex;
  flex-direction: column;
}

.form-background {
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 2;
  position: fixed;
  display: none;
}

.todo-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  border: 5px solid var(--applegreen);
  border-radius: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 20px;
  padding: 40px;
  background-color: var(--eggshell);
}

div .highlight {
  border: 2px solid var(--applegreen);
  font-weight: 1000;
}

div .project-form {
  display: flex;
  background-color: var(--grey);
  border: 0;
  flex-direction: column;
  margin: 0;
}

.project-form input{
  font-size: 1.2rem;
  padding: 2px 1px;
  border-radius: 5px;
}

.project-form div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--grey);
  border: 0;
  font-size: 1.5rem;
}

.project-form div button {
  font-size: 1rem;
  padding: 4px 8px;
  border-radius: 5px;
}

.project-form div button:hover,
.button-container button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: 0.2s;
}

div .project-form:hover {
  border: 0;
  cursor: auto;
}

.todo-form-title {
  font-size: 1.7rem;
  color: rgb(32, 32,32);
}

.input-container {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}

.input-container div {
  font-weight: 1000;
}

.input-container input,
.input-container textarea {
  font-size: 1rem;
  border-radius: 5px;
  padding: 2px 3px;
}

.button-container button {
  font-size: 1rem;
  border-radius: 5px;
  padding: 2px 3px;
}

.button-container {
  display: flex;
  gap: 10px;
}

#checked {
  background-color: rgb(100, 100, 100);
}